workspace "1"
workspace "2"
workspace "3"

window-rule {
    match app-id=r#"^zen$"#
    open-on-workspace "2"
}

window-rule {
    match app-id=r#"^helium$"#
    open-on-workspace "2"
}


window-rule {
    match app-id=r#"^Spotify$"#
    match app-id=r#"^vesktop$"#
    open-on-workspace "3"
}
