blur {
    on
    passes 5      // number of times to apply the blur effect (default: 3)
    offset 1.0    // sample distance per pass (acts as your radius) (default: 3.0)
    noise 0       // add grain to the blur (default: 0.02)
    // saturation 1.5 // optional: boost color saturation
}

layout {
    gaps 4
    // fullscreen {
    //     gaps 1 
    // }
    center-focused-column "always"

    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }

    default-column-width { proportion 0.9; }
    
    focus-ring {
        // on 
        width 1
        active-color "#7fc8ff00"
        inactive-color "#50505000"
    }

    border {
        off
        width 0
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

animations {
    // off
    // slowdown 10.0
    // slowdown 4.0
    // slowdown 2.0
    // slowdown 1.5

    workspace-switch {
        // off
        // duration-ms 2500
        // curve "ease-out-cubic"
        // spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        // off
        // duration-ms 2500
        // curve "ease-out-expo"
        // spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    window-close {
        // off
        // duration-ms 2500
        // curve "ease-out-cubic"
        // spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        // off
        // duration-ms 500
        // curve "ease-out-cubic"
        // spring damping-ratio=1.0 stiffness=20 epsilon=0.00001
        // spring damping-ratio=10.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        // off
        // duration-ms 750
        // curve "ease-out-cubic"
        // spring damping-ratio=1.0 stiffness=20 epsilon=0.00001
        // spring damping-ratio=0.2 stiffness=800 epsilon=0.0001
    }

    window-resize {
        // off
        // duration-ms 500
        // duration-ms 2500
        // curve "ease-out-cubic"
        // spring damping-ratio=0.2 stiffness=800 epsilon=0.0001

        custom-shader r"
            vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
                vec3 coords_next_geo = niri_curr_geo_to_next_geo * coords_curr_geo;
                vec3 coords_prev_geo = niri_curr_geo_to_prev_geo * coords_curr_geo;

                vec3 coords_crop = niri_geo_to_tex_next * coords_next_geo;
                vec3 coords_stretch = niri_geo_to_tex_next * coords_curr_geo;
                vec3 coords_stretch_prev = niri_geo_to_tex_prev * coords_curr_geo;

                bool can_crop_by_x = niri_curr_geo_to_next_geo[0][0] <= 1.0;
                bool can_crop_by_y = niri_curr_geo_to_next_geo[1][1] <= 1.0;
                bool crop = can_crop_by_x && can_crop_by_y;

                vec4 color;

                if (crop) {
                    if (coords_curr_geo.x < 0.0 || 1.0 < coords_curr_geo.x ||
                            coords_curr_geo.y < 0.0 || 1.0 < coords_curr_geo.y) {
                        color = vec4(0.0);
                    } else {
                        color = texture2D(niri_tex_next, coords_crop.st);
                    }
                } else {
                    color = texture2D(niri_tex_next, coords_stretch.st);
                    vec4 color_prev = texture2D(niri_tex_prev, coords_stretch_prev.st);
                    color = mix(color_prev, color, niri_clamped_progress);
                }

                return color;
            }
        "
    }
}
