layout {

    focus-ring {
        active-color   "#a9c7ff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a9c7ff"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a9c7ff"
        inactive-color "#00468b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a9c7ff80"
    }
}

recent-windows {
    highlight {
        active-color "#a9c7ff"
        urgent-color "#ffb4ab"
    }
}
