window-rule {
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="smile"
    open-floating true
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    draw-border-with-background false
    opacity 0.93
}

window-rule {
    match app-id="^zen$"
    open-fullscreen true 
}

window-rule {
    match app-id="^helium$"
    match app-id="^Spotify$"
    match app-id="^org.kde.dolphin$"
    match app-id=r#"^vesktop$"#
    open-maximized true 
}

window-rule {
    match title=r#"^Steam Big Picture Mode$"#
    open-fullscreen true 
}

window-rule {
    match title=r#"^Picture-in-Picture$"#

    open-floating true
    open-maximized false
}


window-rule {
    match app-id="xdg-desktop-portal-gtk"
    open-floating true
    min-width 1100
    max-width 1300
    min-height 700
    max-height 700
}


window-rule {
    match app-id="kcalc"
    match app-id="nm-connection-editor"
    match app-id="blueman-manager"
    match app-id="org.pulseaudio.pavucontrol"
    open-floating true
    min-width 600
    max-width 600
    min-height 700
    max-height 700
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}



window-rule {
    match app-id="(?i)satty" 
    
    open-floating true
}
