// spawn-at-startup "waybar"
spawn-at-startup "qs" "-c" "noctalia-shell"

spawn-at-startup "elephant"
spawn-at-startup "walker" "--daemon"

// spawn-at-startup "wl-paste --watch cliphist store"
// spawn-at-startup "pgrep -x wl-paste || wl-paste --watch cliphist store"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "pkill mako"
