configuration {
    show-icons: false;
}

*{
    background-color: #1e1e2e; 
}


window {
    width: 500px;
    padding: 15px;
    border: 0px;
    border-radius: 12px;
    background-color: #1e1e2e; 
}

inputbar {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 8px;
}

entry {
    text-color: #cdd6f4;
    placeholder: "Search emojis...";
}

listview {
    columns: 8;
    lines: 5;
    spacing: 8px;
    background-color: transparent;
}

element {
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
}

element selected {
    background-color: #89b4fa; 
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
    text-color: #cdd6f4;
}
